html{
	font-size:18px;
	color:white;
	font-family:Helvetica;
	/*display:block;*/
}


header > .logo,
header > .main-header,
header > nav,
main,
footer
{
	padding-left: calc( 50% - 480px );
	padding-right: calc( 50% - 480px );
}


.logo{
	display:flex;
	align-items:center;
	background-color:black;
	font-size:1rem;
	padding: 0.66rem 0 0.66rem 0;

}

.logo img{
	display:flex;
	height:1.5rem;
	margin: auto 1rem auto .5rem;
	
}

.main-header{
	background-image:url(../images/moto.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	font-weight:bold;
	height:25rem;
	display:flex;
	align-items:center;


}

.main-title{
	background-color: black;
	width:20rem;
	margin-top:9rem;
	padding: 2rem 3rem;
	display:flex;
	flex-direction:column;
	justify-content:center;

}
.main-title h4{
	font-size:1rem;
	margin-bottom:0;
}

.main-title h1{
	font-size:2rem;
	margin-top:0.25rem;
}

nav{
	background-color:firebrick;
	display:block;
}

nav span{
	display:none;
}

nav ul{
	display:flex;
	justify-content:space-between;
}

li{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.product-grid{
	display:flex;
	justify-content:space-between;
}

.product-preview{
	display:block;
	border: 4px solid black;
	width:30%;
	margin:3rem 0 0 0;
}

.product-image{
	display:flex;
	justify-content: center;
	align-content: center;
	margin:2rem auto;
}

.product-image img{
	display:block;
	max-height:9rem;
	max-width:8rem;
	padding:2rem auto;
	margin:auto;
}

.description{
	display:flex;
	justify-content:center;
	text-align:center;
	padding:.5rem;
	background-color:black;
}

.contact-info{
	display:flex;
	justify-content:space-between;
	margin:3rem auto 4rem auto;
}

.contact{
	width:35%;
}

.contact-title{
	background-color:black;
	text-align:left;
	padding:1rem 2rem;
	display:flex;
}

.info{
	color:black;
	padding:.25px;
	/*width:100%;*/
}

footer{
	display:flex;
	align-items:center;
	text-align:left;
	height:5rem;
	background-color: black;
}

@media only screen and (max-width:1024px){


	#glasses{
		display:none;
	}

	.product-preview{
		width:47%;
	}

	.contact{
		width:35%;
		justify-content: space-between;
	}

	nav ul{
		display:none;
	}

	nav span{
		display:flex;
		justify-content:center;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

@media only screen and (max-width:470px){
	#container{
		width:100%;
	}

	.main-header{
		align-items:flex-end;
		height:15rem;
	}

	.main-title{
		margin-top:10rem;
		padding:1rem 2rem;
	}

	.main-title h1{
		font-size:01rem;
	}
	.main-title h4{
		font-size:0.77rem;
	}

	.product-grid{
		justify-content: center;
	}
	.product-preview{
		width:90%;
	}

	#watch{
		display:none;
	}

	.contact-info{
		flex-direction:column;
		justify-content:center;
		align-items:center;
		margin:3rem auto 2.5rem auto;
	}

	.contact{
		width:90%;
		margin-bottom:1.5rem;
	}

	footer{
		text-align:center;
	}

}